
<section class="section-padding "id="section_2">
    <div class="container">
        <div class="row p-1">
  
            <div class="col-lg-10 col-12  text-center mx-auto">
                <h1 class="mb-1" style="color: #1a3062;">{{'Welcome to'|translate}} Marmihansa </h1>
                <br> <h2 class="mb-1" style="color: #1a3062;"> {{'Stone'|translate}} </h2>
            </div>
  
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="#section_1" class="d-block">
                        <img src="assets/images/causes/PER1.png" class="featured-block-image img-fluid" alt="">
  
                        <p class="featured-block-text" style="color: #1a3062;  "> <strong>  Perlato Sicilia </strong></p>
                    </a>
                </div>
            </div>
  
            
  
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="#section_2" class="d-block">
                        <img src="assets/images/causes/R2.png" class="featured-block-image img-fluid" alt="">
  
                        <p class="featured-block-text" style="color: #1a3062;  "> <strong> Rrosa Sicilia</strong></p>
                    </a>
                </div>
            </div>
            
  
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="#section_3" class="d-block">
                        <img src="assets/images/causes/B655.png" class="featured-block-image img-fluid" alt="">
  
                        <p class="featured-block-text"style="color: #1a3062;  "> <strong>Libeccio</strong></p>
                    </a>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="#section_4" class="d-block">
                        <img src="assets/images/causes/PIET1.png" class="featured-block-image img-fluid" alt="" >
  
                        <p class="featured-block-text"style="color: #1a3062;  "><strong>PIETRA LAVICA </strong> </p>
                        
                    </a>
                </div>
            </div>
  
        </div>
    
        
    </div>
    
  </section>


  <section id="section_1">
    <h1 class="text-center " style="color: #1a3062;">{{'Stone'|translate}}</h1>
<h1 class="text-center " style="color: #1a3062;">Perlato Sicilia</h1>
   
    <app-stonemodel1></app-stonemodel1>


  </section>

  <section class="section-padding "id="section_2">
    <h1 class="text-center "style="color: #1a3062;">Rosa Sicilia</h1>

    <app-stonemodel2></app-stonemodel2>
  </section>
  <section class="section-padding "id="section_3">

    <h1 class="text-center " style="color: #1a3062;"> Libeccio</h1>
    <app-stonemodel3></app-stonemodel3>
  </section>
  <section class="section-padding "id="section_4">
    <h1 class="text-center "style="color: #1a3062;"> PIETRA LAVICA</h1>
    <app-stonemodel4></app-stonemodel4>

   
  </section>

  <img src="assets/images/logo.png" class="container-fluid" style="width: 30%; align-items: center; display: block;margin: auto; " >


<app-test3></app-test3>
  
  