
<h1 class="text-center " style="color: blue;">{{'Model'|translate}}</h1>
<h1 class="text-center " style="color: blue;">PIETRA LAVICA</h1>


<div class="wrapper">
    <div class="container">
        <input type="radio" name="slide3" id="c22" checked>
        <label for="c22" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                   
                </div>
            </div>
        </label>
        <input type="radio" name="slide3" id="c23" >
        <label for="c23" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide3" id="c24" >
        <label for="c24" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                    
                   
                </div>
            </div>
        </label>
        <input type="radio" name="slide3" id="c25" >
        <label for="c25" class="card">
            <div class="row">
                <div class="icon">4</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
       
    </div>
</div>
<app-model></app-model>

<img src="assets/images/logo.png" class="container-fluid" style="width: 30%; align-items: center; display: block;margin: auto; " >


<app-test3></app-test3>