
<div class="col-lg-10 col-12  text-center mx-auto">
    <h1 class="mb-1" style="color: #1a3062;">{{'Welcome to'|translate}} Marmihansa </h1>
    <br> <h2 class="mb-1" style="color: #1a3062;"> {{'manufactory'|translate}} </h2>
</div>


<div class="wrapper">
    <div class="container">
        <input type="radio" name="tech" id="sto1" checked >
        <label for="sto1" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
       
        

        <input type="radio" name="tech" id="sto3" >
        <label for="sto3" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                  
                </div>
            </div>
        </label>
        <input type="radio" name="tech" id="sto4" >
        <label for="sto4" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                   
                   
                </div>
            </div>
        </label>
        
        <input type="radio" name="tech" id="sto5" >
        <label for="sto5" class="card">
            <div class="row">
                <div class="icon">4</div>
                <div class="description">
                   
                </div>
            </div>
        </label>
        <input type="radio" name="tech" id="sto6" >
        <label for="sto6" class="card">
            <div class="row">
                <div class="icon">5</div>
                <div class="description">
                   
                </div>
            </div>
        </label>
    </div>
</div>





<div class="wrapper">
    <div class="container">
        <input type="radio" name="tech1" id="sto11" checked >
        <label for="sto11" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                  
                    
                </div>
            </div>
        </label>
       
        

        <input type="radio" name="tech1" id="sto13" >
        <label for="sto13" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="tech1" id="sto14" >
        <label for="sto14" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                   
                   
                </div>
            </div>
        </label>
        <input type="radio" name="tech1" id="sto15" >
        <label for="sto15" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                  
                   
                </div>
            </div>
        </label>
        
       
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <input type="radio" name="tech2" id="sto111" checked >
        <label for="sto111" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
       
        

        <input type="radio" name="tech2" id="sto131" >
        <label for="sto131" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                  
                    
                </div>
            </div>
        </label>
        <input type="radio" name="tech2" id="sto141" >
        <label for="sto141" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                   
                   
                </div>
            </div>
        </label>
        <input type="radio" name="tech2" id="sto151" >
        <label for="sto151" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                   
                </div>
            </div>
        </label>
        
       
    </div>
</div>

<img src="assets/images/logo.png" class="container-fluid" style="width: 30%; align-items: center; display: block;margin: auto; " >


<app-test3></app-test3>

