 
  <section class="section-padding "id="section_2">
    <div class="container">
        <div class="row ">
  
            <div class="  text-center mx-auto">
               
                <br> <h2 class="lato-light-italic" style="color: #1a3062;"> {{'Welcome to'|translate}} Marmihansa   </h2>
            </div>
  
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="/model3" class="d-block">
                        <img src="assets/images/causes/S1.png" class="featured-block-image img-fluid" alt="">
  
                        <p class="featured-block-text" style="color: #1a3062;  "> <strong>  LIBECCIO </strong></p>
                    </a>
                </div>
            </div>
  
            
  
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="/model2" class="d-block">
                        <img src="assets/images/causes/S2.png" class="featured-block-image img-fluid" alt="">
  
                        <p class="featured-block-text" style="color: #1a3062;  "> <strong>  ROSA SICILIA</strong></p>
                    </a>
                </div>
            </div>
            
  
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="/model1" class="d-block">
                        <img src="assets/images/causes/S3.png" class="featured-block-image img-fluid" alt="">
  
                        <p class="featured-block-text"style="color: #1a3062;  "> <strong>PERLATO SICILIA</strong></p>
                    </a>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="/model4" class="d-block">
                        <img src="assets/images/causes/S4.png" class="featured-block-image img-fluid" alt="" >
  
                        <p class="featured-block-text"style="color: #1a3062;  "><strong> PIETRA  LAVICA</strong> </p>
                        
                    </a>
                </div>
            </div>
  
        </div>
    
        
    </div>
    
  </section>
  