
<h1 class="text-center " style="color: blue;">{{'Model'|translate}}</h1>
<h1 class="text-center " style="color: blue;">Rrosa Sicilia</h1>
<div class="wrapper">
    <div class="container">
        <input type="radio" name="slide" id="cc1" checked>
        <label for="cc1" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                   
                   
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="cc2" >
        <label for="cc2" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                   
                    
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="cc3" >
        <label for="cc3" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="cc4" >
        <label for="cc4" class="card">
            <div class="row">
                <div class="icon">4</div>
                <div class="description">
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="cc5" >
        <label for="cc5" class="card">
            <div class="row">
                <div class="icon">5</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="cc6" >
        <label for="cc6" class="card">
            <div class="row">
                <div class="icon">6</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="cc7" >
        <label for="cc7" class="card">
            <div class="row">
                <div class="icon">7</div>
                <div class="description">
                    
                   
                </div>
            </div>
        </label>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <input type="radio" name="slideeee" id="bbc1" >
        <label for="bbc1" class="card">
            <div class="row">
                <div class="icon">8</div>
                <div class="description">
                    
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slideeee" id="bbc2" >
        <label for="bbc2" class="card">
            <div class="row">
                <div class="icon">9</div>
                <div class="description">
                    
                   
                </div>
            </div>
        </label>
        

        <input type="radio" name="slideeee" id="bbc3" >
        <label for="bbc3" class="card">
            <div class="row">
                <div class="icon">10</div>
                <div class="description">
                    
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slideeee" id="bbc4" >
        <label for="bbc4" class="card">
            <div class="row">
                <div class="icon">11</div>
                <div class="description">
                    
                   
                </div>
            </div>
        </label>
        
        <input type="radio" name="slideeee" id="bbc5" checked >
        <label for="bbc5" class="card">
            <div class="row">
                <div class="icon">12</div>
                <div class="description">
                    
                    
                </div>
            </div>
        </label>
       
    </div>
</div>
<app-model></app-model>

<img src="assets/images/logo.png" class="container-fluid" style="width: 30%; align-items: center; display: block;margin: auto; " >


<app-test3></app-test3>