<section>
    <div class="card">
        <div class="card-content">
            <div class="front">
                <h1>CASEY</h1>
                <p>Web | App Developer</p>
            </div>
            <div class="back">
                <div class="color"></div>
                <div class="image">
                    <img src="../../assets/images/causes/1B.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Second Card -->
    <div class="card">
        <div class="card-content">
            <div class="front">
                <h1>Another Name</h1>
                <p>Another Role</p>
            </div>
            <div class="back">
                <div class="color"></div>
                <div class="image">
                    <img src="../../assets/images/causes/2B.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Third Card -->
    <div class="card">
        <div class="card-content">
            <div class="front">
                <h1>Third Name</h1>
                <p>Third Role</p>
            </div>
            <div class="back">
                <div class="color"></div>
                <div class="image">
                    <img src="../../assets/images/causes/3B.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
