


<div class="wrapper">
    <div class="container">
        <input type="radio" name="slideeee" id="sto1" checked >
        <label for="sto1" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                    <h4>Perlato Sicilia</h4>
                    
                </div>
            </div>
        </label>
       
        

        <input type="radio" name="slideeee" id="sto3" >
        <label for="sto3" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                    <h4>Perlato Sicilia</h4>
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slideeee" id="sto4" >
        <label for="sto4" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                    <h4>Perlato Sicilia</h4>
                   
                </div>
            </div>
        </label>
        
        <input type="radio" name="slideeee" id="sto5" >
        <label for="sto5" class="card">
            <div class="row">
                <div class="icon">4</div>
                <div class="description">
                    <h4>Perlato Sicilia</h4>
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slideeee" id="sto6" >
        <label for="sto6" class="card">
            <div class="row">
                <div class="icon">5</div>
                <div class="description">
                    <h4>Perlato Sicilia</h4>
                    
                </div>
            </div>
        </label>
    </div>
</div>

