
<section class="hero-section hero-section-full-height">
    <div class="container-fluid">
        <div class="row">
           
  
            <div class=" ">
                <div id="hero-slide" class="carousel carousel-fade slide " data-bs-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item">
                            <img src="assets/images/causes/S9.png" class="carousel-image img-fluid" alt="...">
                            
                            <div class="carousel-caption d-flex flex-column justify-content-end">
                                <h3>Marble of exclusive production
                                </h3>
                                <p>Diaspro is precious and only a small production is possible; it has been and is carefully placed on the market for exclusive projects. </p>
                                
                               
                            </div>
                        </div>

                        <div class="carousel-item active">
                            <img src="assets/images/causes/S5.png" class="carousel-image img-fluid" alt="...">
                            
                            <div class="carousel-caption d-flex flex-column justify-content-end">
                               
                                <h3>Marble of exclusive production
                                </h3>
                                <p>Libeccio Materials of exclusive production with variegated pink-ivory - gray - black colors, it can be used for the construction of fireplaces, columns, sinks. </p>
                                
                               
                            </div>
                        </div>
  
                        <div class="carousel-item">
                            <img src="assets/images/causes/S6.png" class="carousel-image img-fluid" alt="...">
                            
                            <div class="carousel-caption d-flex flex-column justify-content-end">
                                <h3>Marble of exclusive production
                                </h3>
                                <p>Rosa Sicilia Exclusive production material, it comes in different shades of pink, hinting at the gentle palette of the Orient, easy on the eye. </p>
                                
                               
                            </div>
                        </div>
  
                       

                        <div class="carousel-item">
                            <img src="assets/images/causes/S8.png" class="carousel-image img-fluid" alt="...">
                            
                            <div class="carousel-caption d-flex flex-column justify-content-end">
                                <h3>Marble of exclusive production
                            </h3>
                            <P>Diaspro is precious and only a small production is possible; it has been and is carefully placed on the market for exclusive projects. </P>
                                
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/causes/S7.png" class="carousel-image img-fluid" alt="...">
                            
                            <div class="carousel-caption d-flex flex-column justify-content-end">
                                <h3>Marble of exclusive production
                                </h3>
                                <p> Parlato Sicilia Ivory - colored marble shows how the virtues of Carrara is tempered in the south, both practical and economical with more or less light shades .</p>
                               
                                
                               
                            </div>
                        </div>
                    </div>
                    
  
                    <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
  
                    <button class="carousel-control-next" type="button" data-bs-target="#hero-slide" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            
  
        </div>
    </div>
  </section>


 
  