
<h1 class="text-center " style="color: blue;">{{'Model'|translate}}</h1>
<h1 class="text-center " style="color: blue;">Libeccio</h1>

<div class="wrapper">
    <div class="container">
        <input type="radio" name="slideeee" id="tt1" checked >
        <label for="tt1" class="card">
            <div class="row">
                <div class="icon">1</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slideeee" id="tt2" >
        <label for="tt2" class="card">
            <div class="row">
                <div class="icon">2</div>
                <div class="description">
                    
                   
                </div>
            </div>
        </label>
        

        <input type="radio" name="slideeee" id="tt3" >
        <label for="tt3" class="card">
            <div class="row">
                <div class="icon">3</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slideeee" id="tt4" >
        <label for="tt4" class="card">
            <div class="row">
                <div class="icon">4</div>
                <div class="description">
                    
                   
                </div>
            </div>
        </label>
        
        <input type="radio" name="slideeee" id="tt5" >
        <label for="tt5" class="card">
            <div class="row">
                <div class="icon">5</div>
                <div class="description">
                    
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slideeee" id="tt6" >
        <label for="tt6" class="card">
            <div class="row">
                <div class="icon">6</div>
                <div class="description">
                    
                    
                </div>
            </div>
        </label>
       
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <input type="radio" name="slide" id="t1" >
        <label for="t1" class="card">
            <div class="row">
                <div class="icon">7</div>
                <div class="description">
                   
                   
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="t2" >
        <label for="t2" class="card">
            <div class="row">
                <div class="icon">8</div>
                <div class="description">
                   
                    
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="t3" >
        <label for="t3" class="card">
            <div class="row">
                <div class="icon">9</div>
                <div class="description">
                    
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="t4" >
        <label for="t4" class="card">
            <div class="row">
                <div class="icon">10</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="t5" >
        <label for="t5" class="card">
            <div class="row">
                <div class="icon">11</div>
                <div class="description">
                   
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="t6" >
        <label for="t6" class="card">
            <div class="row">
                <div class="icon">12</div>
                <div class="description">
                    
                </div>
            </div>
        </label>
        <input type="radio" name="slide" id="t7" checked>
        <label for="t7" class="card">
            <div class="row">
                <div class="icon">13</div>
                <div class="description">
                   
                   
                </div>
            </div>
        </label>
    </div>
</div>

<app-model></app-model>

<img src="assets/images/logo.png" class="container-fluid" style="width: 30%; align-items: center; display: block;margin: auto; " >


<app-test3></app-test3>