
<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="/home" style="color: #1a3062;">
            
            <span>
               Marmihansa
                
            </span>
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/home">{{'home'|translate}}</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link click-scroll dropdown-toggle" href="" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{'Model'|translate}}</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="/model1">Perlato Sicilia</a></li>

                        <li><a class="dropdown-item" href="/model2">Rosa Sicilia</a></li>
                        
                        <li><a class="dropdown-item" href="/model3"> Libeccio</a></li>
                        <li><a class="dropdown-item" href="/model4">pietra lavica</a></li>
                    </ul>

                </li>

  
               
  
             
                <li class="nav-item dropdown">
                    <a class="nav-link click-scroll dropdown-toggle" href="" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{'Show Room'|translate}}</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="/stone">{{'Stone'|translate}}</a></li>

                        <li><a class="dropdown-item" href="/dessign">{{'Design'|translate}}</a></li>
                        
                        <li><a class="dropdown-item" href="/tech">{{'Tech'|translate}}</a></li>
                       
                    </ul>
                </li>

                <li class="nav-item ms-3">
                    <a class="nav-link custom-btn custom-border-btn btn" href="#section_10">contact</a>
                </li>
  
                
               
  
               


                
  
                
            </ul>
        </div>
    </div>
  </nav>
