

    <div class="box p-1 mb-8">

        <span style="--i:1"><img src="../../assets/images/causes/6A.png"></span>
        <span style="--i:2"><img src="../../assets/images/causes/11A.png"></span>
        <span style="--i:3"><img src="../../assets/images/causes/12A.png"></span>
        <span style="--i:4"><img src="../../assets/images/causes/15A.png"></span>
        <span style="--i:5"><img src="../../assets/images/causes/C8.png"></span>
        <span style="--i:6"><img src="../../assets/images/causes/C10.png"></span>
        <span style="--i:7"><img src="../../assets/images/causes/C11.png"></span>
        <span style="--i:8"><img src="../../assets/images/causes/C12.png"></span>
        <span style="--i:9"><img src="../../assets/images/causes/10B.png"></span>
        <span style="--i:10"><img src="../../assets/images/causes/8A.png"></span>


    


    </div>

    
